.FloatingHeader 
{
    position:relative;
    color:#FFFFFF;
    background-color:#1BA1E2;
    height:26px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:5px;
    padding-right:5px;
    top: 0px;
    z-index:81;
    -o-transition: top .3s ease-in-out;
    -webkit-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
    overflow:visible;
}

.DoneColumn .FloatingHeader 
{
    position:relative;
    color:#FFFFFF;
    background-color:#96B232;
    height:26px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:5px;
    padding-right:5px;
    top: 0px;
    z-index:81;
    -o-transition: top .3s ease-in-out;
    -webkit-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
}

.FloatingColumn 
{
    position:relative;
    width:200px;
    background-image: url(./Images/texture.png);
    background-color:#FFFFFF;
    padding:5px;
    padding-top:3px;
    left: 0px;
    z-index:82;
    -o-transition: left .3s ease-in-out, height .2s ease-in-out;
    -webkit-transition: left .3s ease-in-out, height .2s ease-in-out;
    -moz-transition: left .3s ease-in-out, height .2s ease-in-out;
    transition: left .3s ease-in-out, height .2s ease-in-out;
    overflow:hidden;
}
