.tile_big 
{
    width:150px;
    min-height:75px;
    max-height:150px;
    color:#FFFFFF;
    font-size:70px;
    line-height:70px;
    text-align:center;
}

.tile_ready_num
{
    background-color:#96B232;
    float:left;
    width:70px;
    height: 70px;
    border:2px solid #FFFFFF;
}

.tile_progress_num
{
    background-color:#1BA1E2;
    float:left;
    width:70px;
    height: 70px;
    border:2px solid #FFFFFF;
}

.tile_pending_num
{
    background-color:#F09609;
    float:left;
    width:70px;
    height: 70px;
    border:2px solid #FFFFFF;
}

.tile_blocking_num
{
    background-color:#E51400;
    float:left;
    width:70px;
    height: 70px;
    border:2px solid #FFFFFF;
}