.menu
{
    width:100%;
    top:0;
    left:0;
    background-image: url(./Images/texture.png);
    background-color:#FFFFFF;
    position:fixed;
    z-index:200;
    font-size:18px;
    border-bottom: 3px solid #898989;
    padding: 15px 20px 10px 0px;
    height:35px;
    overflow:hidden;
}
img.more
{
    padding:0px;
    border:0px;
    margin:0px;
    width:15px;
    height:10px;
}

img.logo
{
    padding:0px;
    border:0px;
    margin:0px;
    width:140px;
    height:21px;
}

.menugroup
{
    padding: 5px 8px;
    float:left;
    margin-left:15px;
    text-align:center;
    width:130px;
    overflow:hidden;
}
.menugroup a
{
    color:#898989;
    text-decoration:none;
    font-family: Arial, sans-serif;
    font-weight:700;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
}

.menugroup_sel
{
    padding: 5px 8px;
    float:left;
    margin-left:15px;
    text-align:center;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px; 
    border-radius:8px;
    background-color:#898989; 
    width:110px; 
    overflow:hidden;
}
.menugroup_sel a
{
    color:#FFFFFF;
    text-decoration:none;
    font-family: Arial, sans-serif;
    font-weight:700;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
}

.menuitem_list
{
    margin:0px;
    padding: 0px 5px 10px 5px;
    float:left;
    text-align:center;
    height:0px;
    overflow:hidden;
    position:fixed;
    z-index:500;
    -o-transition: height .3s ease-in-out;
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
    background-color:#FFFFFF;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius:3px;
    -webkit-box-shadow:3px 3px 8px  #666666;
    -moz-box-shadow:3px 3px 8px  #666666;
    box-shadow:3px 3px 8px  #666666;
}
.menuitem_list .menuitem
{
    margin-left:0px;
    margin-top:10px;
    background:transparent;
}
.menuitem_list .menuitem_sel
{
    margin-left:0px;
    margin-top:10px;
}
.menuitem
{
    padding: 5px 8px;
    float:left;
    margin-left:15px;
    text-align:center;
    width:110px;
}
.menuitem a
{
    color:#898989;
    text-decoration:none;
    font-family: Arial, sans-serif;
    font-weight:700;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.menuitem a:hover
{
    color:#1BA1E2;
    text-decoration:none;
    font-family: Arial, sans-serif;
    font-weight:700;
    text-decoration:underline;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.menuitem_sel
{
    padding: 5px 8px;
    float:left;
    margin-left:15px;
    text-align:center;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px; 
    border-radius:8px;
    background-color:#898989; 
    width:110px; 
}

.menuitem_sel a
{
    color:#FFFFFF;
    text-decoration:none;
    font-family: Arial, sans-serif;
    font-weight:700;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
}

.menu_configuration
{
    float:right;
    padding-right:5px;
    padding-top:5px;
    margin-top:-15px;
}

.menu_configuration_profile
{
    float:right;
    padding-right:10px;
    color:#898989;
    font-size:16px;
}
.menu_configuration_config
{
    float:right;
    padding-top:3px;
}

.menu_config_dialog
{
    width:150px;
    margin:0px;
    padding: 10px 5px 10px 5px;
    float:left;
    text-align:center;
    height:0px;
    overflow:hidden;
    position:fixed;
    z-index:500;
    -o-transition: height .3s ease-in-out;
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
    background-color:#FFFFFF;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius:3px;
    -webkit-box-shadow:3px 3px 8px  #666666;
    -moz-box-shadow:3px 3px 8px  #666666;
    box-shadow:3px 3px 8px  #666666;
}

.menu_config_dialog_header
{
    float:left;
    width:100%;
    text-align:left;
    font-family: Arial, sans-serif;
    font-size:15px;
    font-weight:700;
    color:#1BA1E2;
    padding:5px 0px 8px 5px;
}
.menu_config_dialog_content
{
    float:left;
    width:100%;
    padding: 20px 5px;
}
.menu_config_dialog_content_label
{
    float:left;
    width:55px;
    padding: 3px 5px 3px 0px;
    font-family: 'MyHand', Arial, sans-serif;
    color:#1BA1E2;
    font-size:16px;
    text-align:right;
}
.menu_config_dialog_content_item
{
    float:left;
    width:55px;
    padding: 3px 0px 3px 5px;
    font-size:16px;
    text-align:left;
}

.menu_config_dialog_content_item  select
{
    cursor:pointer;
}
.menu_config_dialog_footer
{
    float:left;
    width:100%;
    padding:5px;
}
.menu_config_dialog_button
{
    text-decoration:underline;
    float:right;
    font-size:12px;
    font-family: Arial, sans-serif;
    color:#1BA1E2;
    margin-right:5px;
}